body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkgray;
}

main {
  width: 22em;
  height: 30.5rem;
  background-color: black;
  color: gainsboro;
}

main div {
  width: 5rem;
  height: 4.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(61, 58, 58);
  flex-grow: 1;
  border: 1px solid black;
}

.calc {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem;
}

#display {
  background-color: black;
}

#clear {
  background-color: firebrick;
  width: 10.3rem;
}

#equals {
  height: 9.6rem;
}
